.flexbox {
  display: flex;
  /* gap: 10px;     */
}

.flexboxFill {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
}

.flexboxFill > div {
  flex: 1;
}

.divCenter {
  display: flex;
  justify-content: center; /* Centers horizontally */
}

.divLeft {
  position: fixed;
  left: 0
}

.divRight {
  
  margin-left: auto;
}

.center {
  text-align: center;
}

.darkBlue {
  color: #009cd9;
}

.white {
  color: #ffffff;
}

.bgDarkBlue {
    background-color: #00384e;
}

.bgWhite {
  background-color: #ffffff;
}

/* TALK2MEARTH RIGHT BELLLOW HERE */

button {
    display: inline-block;
    margin-bottom: 10px;
    background-color: #00598c;
    color: #5ac0ff;
    padding: 2px 25px;
    /* border: 2px solid #00907E; */
    border-radius: 50px;
    cursor: pointer;
    font-family:'Cascadia Mono'
  }

h1 {
  font-family: 'Cascadia Mono';
}

h2 {
  font-family: 'Cascadia Mono';
}

h3 {
  font-family: 'Cascadia Mono';
}

p {
  font-family: 'Cascadia Mono';
}

label {
  font-family: 'Cascadia Mono';
  color: #0093cd
}

input[type="text"] {
  border-color: #006891;
}

#terminal {
  font-family: 'Cascadia Mono';
}

#code { 
  background-color: #1e1c1c;
  color: floralwhite;
  border-color: #000000;
  font-family: 'Cascadia Mono';
}

textarea {
  border-color: #006891;
  font-family: 'Arial';
}

.tooltip {
    position: absolute;
    /* transform: translateX(-50%); */
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    z-index: 2;
  }

button:hover+.tooltip {
    opacity: 1;
    visibility: visible;
}
